.main {
    display: inline-flex;
    flex-wrap: wrap;
}

.card {
    margin: 40px;
    background-color: #edede9;
}

h5 {
    font-family: monospace;
    letter-spacing: 2px;
    padding: 20px;
    cursor: pointer;
}