<table class="table">
    <thead>
        <tr>
            <th>Time</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>9Am-10Am</td>
            <td>Kannada</td>
            <td>English</td>
            <td>Hindi</td>
            <td>Science</td>
            <td>Social</td>
            <td>Maths</td>
        </tr>
        <tr>
            <td>10Am-11Am</td>
            <td>English</td>
            <td>Kannada</td>
            <td>Science</td>
            <td>Hindi</td>
            <td>Social</td>
            <td>Maths</td>
        </tr>
        <tr>
            <td>11Am-12Am</td>
            <td>Maths</td>
            <td>English</td>
            <td>Hindi</td>
            <td>Social</td>
            <td>Science</td>
            <td>Kannada</td>
        </tr>
        <tr>
            <td>12Pm-1Pm</td>
            <td>Lunch-break</td>
            <td>Lunch-break</td>
            <td>Lunch-break</td>
            <td>Lunch-break</td>
            <td>Lunch-break</td>
            <td>Lunch-break</td>
        </tr>
        <tr>
            <td>1Pm-2Pm</td>
            <td>Kannada</td>
            <td>English</td>
            <td>Hindi</td>
            <td>Science</td>
            <td>Social</td>
            <td>Maths</td>
        </tr>
        <tr>
            <td>2Pm-3Pm</td>
            <td>English</td>
            <td>Kannada</td>
            <td>Hindi</td>
            <td>Social</td>
            <td>Science</td>
            <td>Maths</td>
        </tr>
        <tr>
            <td>4Pm-5Pm</td>
            <td>English</td>
            <td>Kannada</td>
            <td>Hindi</td>
            <td>Science</td>
            <td>Maths</td>
            <td>Social</td>
        </tr>
    </tbody>
</table>