<div class="container col-sm-5">
    <form action="">
        <label for="" style="font-size: larger;">Parent EmailId:-</label>
        <input type="email" placeholder="example@gmail.com" class="form-control" id="email" name="email" required><br>
        <label for="" style="font-size: larger;">Mobile-No:-</label>
        <input type="number" id="number" name="number" required placeholder="*********" class="form-control"><br>
        <select class="btn btn-success">
            <option value="">select class</option>
            <option value="">1st-standard</option>
            <option value="">2nd-standard</option>
            <option value="">3rd-standard</option>
            <option value="">4th-standard</option>
            <option value="">5th-standard</option>
            <option value="">6th-standard</option>
            <option value="">7th-standard</option>
            <option value="">8th-standard</option>
            <option value="">9th-standard</option>
            <option value="">10th-standard</option>
        </select><br><br>
        <button type="submit" class="btn btn-primary">Log-in</button>
    </form>
</div>