<div class="card col-sm-5">
    <div class=" container">
        <h3>To reach us</h3>
        <h3>987654352</h3>
        <h4>1st main 6th cross #435/a1 Bommanahalli,Bangalore-561003</h4>
        <a href=""><i class="fa-solid fa-envelope"></i>eurokids@gmail.com</a><br>
        <a href="https://www.facebook.com" style="font-size: larger;"><i class="fa-brands fa-facebook"
                style="color: black;"></i>facebook</a><br>
        <a href="https://www.instagram.com" style="font-size: larger;"><i class="fa-brands fa-instagram"
                style="color: black;"></i>Instagram</a>
    </div>
</div>